In [22]:
import pandas as pd

df = pd.read_csv("occupancy_data/datatraining.csv")
dftest = pd.read_csv("occupancy_data/datatest.csv")
dftest2 = pd.read_csv("occupancy_data/datatest2.csv")

In [23]:
df.head(5)

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [25]:
X = df.iloc[:,1:6]
Y = df.iloc[:,-1]

Xtest = dftest.iloc[:,1:6]
Ytest = dftest.iloc[:,-1]

Xtest2 = dftest2.iloc[:,1:6]
Ytest2 = dftest2.iloc[:,-1]

In [56]:
from sklearn import tree
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

decision_tree = tree.DecisionTreeClassifier()
decision_tree.fit(X,Y)
hyp = decision_tree.predict(Xtest)
hyp2 = decision_tree.predict(Xtest2)

RandomForest = RandomForestClassifier()
RandomForest.fit(X,Y)
hypRF = RandomForest.predict(Xtest)
hyp2RF = RandomForest.predict(Xtest2)

AdaBoost = AdaBoostClassifier()
AdaBoost.fit(X,Y)
hypAB = AdaBoost.predict(Xtest)
hyp2AB = AdaBoost.predict(Xtest2)

print('Decision Tree Accuracy for test : ', accuracy_score(Ytest,hyp))
print('Decision Tree Accuracy for test2 : ', accuracy_score(Ytest2,hyp2))

print('Random Forest Accuracy for test : ', accuracy_score(Ytest,hypRF))
print('Random Forest Accuracy for test2 : ', accuracy_score(Ytest2,hyp2RF))

print('Ada Boost Accuracy for test : ', accuracy_score(Ytest,hypAB))
print('Ada Boost Accuracy for test2 : ', accuracy_score(Ytest2,hyp2AB))

Decision Tree Accuracy for test :  0.898311444652908
Decision Tree Accuracy for test2 :  0.9389868744872847
Random Forest Accuracy for test :  0.9384615384615385
Random Forest Accuracy for test2 :  0.9222723543888434
Ada Boost Accuracy for test :  0.9711069418386492
Ada Boost Accuracy for test2 :  0.9477030352748155